/* css/styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

h1 {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
}

p {
    margin: 20px;
}

form, table {
    margin: 20px auto;
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}

label, input {
    display: block;
    margin: 10px 0;
}

button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

a {
    display: block;
    text-align: center;
    margin: 20px;
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
}

th {
    background-color: #4CAF50;
    color: white;
}
